body{
    background: linear-gradient(450deg,#B0E0E6,#90EE90);
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 350px;
    
    
    
}

.wrapper{
    background: rgba(250, 235, 215,.3);
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.01);
    box-shadow: 4px 4px 10px ;
    margin-top: 150px;
    margin-bottom: 250px;
    width: 700px;
    height: 400px;
}

.button{
    border-radius: 100px;
    background-color: #EE90EE;
    color: black;
    font-family: "myPersonalFont" ;
    font-weight: 100;
    font-size: 40px;
    width: 24%;
    height: 60px;
    margin-bottom: 5px;
    
}

#screen{
    color: black;
    background: #90BFEE;
    font-size: 50px;
    border-radius: 5px;
    border: 2px solid black;
    height: 55px;
    direction: rtl;
}

#removeButton{
    width: 24%;
    height: 60px;
    color: black;
    background-color: #EE90EE;
    border-radius: 100px;
    background-color: #EE90EE;
    color: black;
    font-family: "myPersonalFont" ;
    font-weight: 100;
    font-size: 40px;
    width: 24%;
    height: 60px;
    margin-bottom: 5px;
}

#divisionButton{
    width: 24%;
    height: 60px;
    color: black;
    background-color: #EE90EE;
    border-radius: 100px;
    background-color: #EE90EE;
    color: black;
    font-family: "myPersonalFont" ;
    font-weight: 100;
    font-size: 40px;
    width: 24%;
    height: 60px;
    margin-bottom: 5px;
}

#clearButton{
    width: 24%;
    height: 60px;
    color: black;
    background-color: #EE90EE;
    border-radius: 100px;
    background-color: #EE90EE;
    color: black;
    font-family: "myPersonalFont" ;
    font-weight: 100;
    font-size: 40px;
    width: 24%;
    height: 60px;
    margin-bottom: 5px;
}

 #equalButton{
    background-color: rgb(135, 206, 250,0.9);
    background: #EE90EE;
    color: black;
    border-radius: 100px;
    background-color: #EE90EE;
    color: black;
    font-family: "myPersonalFont" ;
    font-weight: 100;
    font-size: 40px;
    width: 24%;
    height: 60px;
    margin-bottom: 5px;
}

#multiplyButton{
    color: black;
    background-color: #EE90EE;
    border-radius: 100px;
    background-color: #EE90EE;
    color: black;
    font-family: "myPersonalFont" ;
    font-weight: 100;
    font-size: 40px;
    width: 24%;
    height: 60px;
    margin-bottom: 5px;
}

#substractButton{
    color: black;
    background-color: #EE90EE;
    border-radius: 100px;
    background-color: #EE90EE;
    color: black;
    font-family: "myPersonalFont" ;
    font-weight: 100;
    font-size: 40px;
    width: 24%;
    height: 60px;
    margin-bottom: 5px;
}

#plusButton{
    color: black;
    background-color: #EE90EE;
    border-radius: 100px;
    background-color: #EE90EE;
    color: black;
    font-family: "myPersonalFont" ;
    font-weight: 100;
    font-size: 40px;
    width: 24%;
    height: 60px;
    margin-bottom: 5px;
}
 @font-face{
    font-family: "myPersonalFont";
    src:url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 }

 
