body{
    align-items: "center";
    background: linear-gradient(450deg,#1E90FF,#9400D3,#00FA9A);
    display: flex;
    height: inherit;
    font-display: swap;
    justify-content: center;
}
.button {
    
    background: linear-gradient(450deg,blue,green)
}

.screen{
    
    direction: rtl;
}
.button-clear{
    background: red
}

.wrapper{
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color:#232323;
}